// Main stylesheet for default layout
@import "variables";
@import "mixins";
@import "animations";
@import "accessibility";
@import "typography";
@import "base";
@import "navigation";
@import "cards";
@import "link-buttons";
@import "about";
@import "publications";
@import "projects";
@import "contact";
@import "pages";
@import "404";
